#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT
            >;


        };
    };
};